* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header {
  width: 100%;
}
nav {
  background: rgb(128, 79, 125);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
nav .logo {
  flex: 1;
  color: #fff;
}
nav ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
  padding: 10px 10px;
}
nav ul li:hover {
  background: rgb(126, 93, 124);
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
fieldset {
  width: 80%;
  padding: 10px 15px;
}
.form label {
  display: block;
  margin: 5px 0;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.buttons input {
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
}
.buttons input[type="reset"] {
  background-color: rgb(255, 255, 103);
}
.buttons input[type="submit"] {
  background-color: rgb(64, 255, 0);
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.container article {
  margin: 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.491);
  border-radius: 10px;
}
.container article video {
  border-radius: 10px 10px 0 0;
}
.container .videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container > h1 {
  text-align: center;
  text-decoration: underline coral;
  text-decoration-style: double;
  margin: 30px 0;
}
.videos .aboutVideo p {
  margin: 10px 10px;
  color: rgb(25, 25, 25);
  font-weight: 900;
}
.videos .aboutVideo p span {
  margin: 0 20px 0 0;
  color: gray;
}
.container .audios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container .audios .audio-article {
  padding: 30px;
}
footer {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgb(128, 79, 125);
}
