* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  padding: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  /* The syntax is grid-row-start / grid-column-start / grid-row-end / grid-column-end. */
  grid-area: 2 / 2 / span 3 / span 2;
}
.item9 {
  grid-area: auto / auto / span 1 / span 1;
}
.item7 {
  grid-area: 1 / 1 / span 3 / 1;
}
.item10 {
  grid-area: auto / 1 / span 1 / span 4;
}
/* -------------------------------
        secend grid                 
---------------------------------- */
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  margin: 30px 0;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 40px 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container2 .item1 {
  grid-area: 2 / 3 / span 2 / span 1;
}
.grid-container2 .item2 {
  grid-area: 1 / 2 / span 1 / span 2;
}
.grid-container2 .item3 {
  grid-area: 2 / 2 / span 1 / span 1;
}
.grid-container2 .item4 {
  grid-area: 1 / 1 / span 2 / span 1;
}
.grid-container2 .item5 {
  grid-area: 3 / 1 / span 1 / span 2;
}
.grid-container2 .item6 {
  grid-area: 1 / 4 / span 3 / span 1;
}
